* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Bold";
}

.header {
  padding: 32px 0 104px 0;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.navigation {
  text-decoration: none;
  color: #828282;
}

.navigation__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  border-bottom: 1px solid #828282;
}

.navigation__item {
  margin-bottom: 30px;
  font-size: 18px;
}

.navigation__link {
  text-decoration: none;
  color: #828282;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
}

.main-title {
  font-family: "Gilroy-Bold";
  font-size: 47.3392px;
  line-height: 59px;
}

.profession {
  position: relative;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
}

.aboutMe {
  padding-top: 120px;
}

.About_me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  /*margin-left: 470px;*/

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.personal_information {
  background-color: #f6f6f6;
}

.aboutMeText {
  padding-bottom: 97px;
}

.skills_text {
  text-align: center;
  margin-top: 95px;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 206px;
  width: 166px;
}

.skillsStars {
  height: 27px;
  width: 168px;
}

.skillsImg {
  height: 90px;
  width: 89px;
  margin-left: 40px;
}

.skillsElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 180px;
  margin-top: 82px;
  width: 945px;
}

.textInSkills {
  text-align: center;

  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.Portfolio {
  background-color: #f6f6f6;
}

.portfolioHeader {
  margin-bottom: 47px;
  padding-top: 80px;
}

.portfolioLink {
  text-decoration: none;
  color: black;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.portfolioImg {
  margin-left: 180px;
}

h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 120px;
}

.lasth3 {
  padding-bottom: 100px;
}

.contactsMessage {
  text-align: center;
  margin: 0px;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.contactsMessageButton {
  margin-left: 580px;
  border-radius: 12px;
  width: 180px;
  height: 42px;
  background-color: black;
  color: white;
  margin-top: 29px;
  margin-bottom: 85px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 342px;
  margin-left: 500px;
  margin-bottom: 45px;
}

.contactsLink {
  text-align: center;
  margin: 0px;

  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
